:root {
    --primary:#495E57;
    --primary-2:#F4CE14;
    --Secondary-1:#EE9972;
    --Secondary-2:#FBDABB;
    --Highlight-1:#EDEFEE;
    --Highlight-2:#333333
}

.App{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
}

.App-header{
    padding: 10px;
    width: 100%;
    height:auto;

}

.App-header .title{
    margin: 10px 10px 0 10px;
    color:var(--primary-2);
    font-weight: normal;
    font-size: 60px;
}

.App-header p{
    color:white;
    font-family: 'Markazi Text', serif;

}

.App-header .city{
    font-size: 2.5rem;
    margin: -10px 10px 10px 10px;
}

.description-area{
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.description-area .description{
    width: 50%;
    margin-right: 10px;
    font-size: 18px;
}

.description-area .description-img{
    padding-right: 10px;
    width: 50%;
    margin-right: 10px;

}

.description-area .description-img img{
    object-fit: cover;
    border-radius: 10px;
    overflow:hidden
}

.form-area{
    width: 100%;
    height:auto;
    background-color: white;
    padding: 10px;
    font-family: 'Karla', sans-serif;
}

.form-area .form-title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--Highlight-1);
}

.form-area form label{
    font-size: 20px;
    font-weight: bold;
}

.form-area form input{
    width: 100%;
    background-color: var(--Highlight-1);
    border-radius: 5px;
}

.form-area form textarea{
    width: 100%;
    background-color: var(--Highlight-1);
    border-radius: 5px;
}